.stepbox{
    border: 1px solid #ddd;
    width: fit-content;
    background-color: #fff;
    border-radius: 10px;
    font-family: Inter, sans-serif;
    padding: 10px;
}
.stepbox h1{
    color: #3366cc;
    padding: 10px;
}
.stepbox image{
    width: 50px;
    height: 10px;
    padding: 10px;
}
.stepbox h3{
    padding: 5px;
}