.stepbox{
    border: 1px solid #ddd;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    font-family: Inter, sans-serif;
    padding: 10px;
}
.stepbox h1{
    color: #3366cc;
    padding: 10px;
}
.stepbox image{
    width: 50px;
    height: 10px;
    padding: 10px;
}
.stepbox h3{
    padding: 5px;
}
.progress_text{
    display: flex; flex-direction: column;
    padding: 10px;
}
.progress_bar{
    display: flex; flex-direction: row;
    margin: 10px;
}
.progress_bar i{
    border: 1px solid #FF8C00FF;
    background-color: #FF8C00FF;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
}
.dashboard_container {
    display: flex; flex-direction: row;
}
.claimrewards {
    display: flex; flex-direction: column;
    padding: 10px;
    width: 100%;
    margin-left: 70px;
}
.claimrewards h3 {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}
.voucher_small{
    display: flex; flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.text_voucher{
    display: flex; flex-direction: column;
    padding: 10px;
}
.discount_small{
    display: flex; flex-direction: row;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.text_discount{
    display: flex; flex-direction: column;
    padding: 10px;
}
.claimrewards p{
    font-size: 14px;
}
.gift_icon{
    align-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #FF8C00FF;
    border-radius: 6px;
    background-color: #FF8C00FF;
}
.percent_icon{
    align-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #FF8C00FF;
    border-radius: 6px;
    background-color: #FF8C00FF;
}