
.welcome_container{
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 508px;
    border-radius: 10px;
    background: #F3F6FCFF;
}
.welcome_image {
    display: flex;
    align-self: center;
    width: 100%;
    height: 350px;
}
.welcome_image img {
    object-fit: cover;
    border-radius: 15px;
}
.textandbutton{
    display: flex; flex-direction: column;
    padding: 15px;
    margin: 20px;
    justify-content: center;
}
.textandbutton h1{
    font-family: inter, sans-serif;
}
.textandbutton p{
    font-family: inter, sans-serif;
    padding-bottom: 40px;
    padding-top: 40px;
}
.textandbutton a{
    text-decoration: none;
    font-family: inter, sans-serif;
}
.btn_event{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #3366ccff;
    border-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 15px;
    transition: 0.5s;
    width: 202px;
    height: 44px;
}
.btn_event:hover{
    border-top-right-radius: 15px;
}
.challenges_main_text{
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    margin-top: 100px;
}
.challenge-button{
    display: flex; flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.challenge-button a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #222222;
}
.btn-1  {
    display: flex; justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 128px;
    height: 40px;
}
.btn-1:hover{
    background-color: #3366ccff;
}
.btn-1 a:hover{
    color: white;

}
.btn-2{
    display: flex; justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 128px;
    height: 40px;
    margin-right: 60px;
    margin-left: 60px;
}
.btn-2:hover{
    background-color: #3366ccff;
}
.btn-2 a:hover{
    color: white;
}
.btn-3{
    display: flex; justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 128px;
    height: 40px;
}
.btn-3:hover{
    background-color: #3366ccff;
}
.btn-3 a:hover{
    color: white;
}