@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.container {
  display: flex;
  min-height: 100vh;
}
.feauture {
  max-width: 220px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.feauture button {
  padding: 7px 12px;
  background-color: #3366CCFF;
  color: #FFFFFFFF;
  border: 1px solid #DEE1E6FF;
  border-radius: 6px;
}
#daily {
  padding: 7px 12px;
  background-color: #FFFFFFFF;
  color: rgb(0, 0, 0);
  border: 1px solid #DEE1E6FF;
  border-radius: 6px;
}
#monthly {
  padding: 7px 12px;
  background-color: #FFFFFFFF;
  color: rgb(0, 0, 0);
  border: 1px solid #DEE1E6FF;
  border-radius: 6px;
}
.container_table {
  height: 100vh;
}
.container_table table {
  width: 100%;
  border-collapse: collapse;
}
table {
  font-family: serif;
}
thead {
  /* background-color: #00000000; */
  height: 50px;
  border: 0.5px solid black;
}
tr, td {
  padding: 15px;
}
.data_users {
  color: #3366CCFF;
}
.user_name {
  color: #171A1FFF;
  line-height: 24px;
}