* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: #fff;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
}

.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  display: flex;
  align-items: center;
}

.logo_icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #ccc;
}

.logo {
  color: #3366cc;
}

.container_nav_logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: #eee;
}

.logout {
  color: red;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.right_area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar input {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.main {
  flex: 1;
  background-color: #f4f4f4;
  padding: 30px 40px;
  overflow-y: auto;
}

.balance-card {
  background-color: #f3f6fcff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vouchers,
.discounts {
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.card {
  background-color: #ffffffff;
  /* padding: 60px 10px; */
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 290px;
  overflow: hidden;
}

.footer {
  text-align: center;
  background-color: #ffffffff;
  padding: 15px;
  border-width: 1px;
}

.footer .links span {
  margin: 0 10px;
  color: #555;
}
.view_history_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#view_history {
  background-color: #19191fff;
  width: 119px;
  height: 40px;
  color: #f3f6fcff;
  opacity: 1;
  border-radius: 6px;
  border-width: 1px;
  border-color: #f3f6fcff;
}
.button_help {
  width: 218px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffffff;
  background: #3366ccff;
  opacity: 1;
  border: none;
  border-radius: 6px;
}
.card_image {
   background-color: #c2c2c2;
  height: 120px;
}
.card-content {
  flex: 1;
  padding: 15px;
}
.card-content h4 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #222;
}

.card-content p {
  font-size: 14px;
  color: #555;
}

/* Footer kartu */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  /* background-color: #d1d1d1; */
}

.points {
  background-color: #3366CCFF;
  color: #ffffffff;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 13px;
}

.card-footer button {
  background-color: #3366CCFF;
  color: #ffffffff;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}
.card_description {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img {
  width: 100%;
  height: 100%;
  /* border-radius: 6px; */
}
#spn_point {
  color: #ffffffff;
  background-color: #3366cc;
  border-radius: 15px;
  position: absolute;
  bottom: 170px;
  left: 290px;
}