@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.container {
  display: flex;
  min-height: 100vh;
}

.balance-card {
  background-color: #f3f6fcff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vouchers,
.discounts {
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.card {
  background-color: #ffffffff;
  /* padding: 60px 10px; */
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 310px;
  overflow: hidden;
  border: 1px solid #DEE1E6FF;
}

.view_history_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#view_history {
  background-color: #19191fff;
  width: 119px;
  height: 40px;
  color: #f3f6fcff;
  opacity: 1;
  border-radius: 6px;
  border-width: 1px;
  border-color: #f3f6fcff;
}
.card_image {
   background-color: #c2c2c2;
  height: 120px;
}
.card-content {
  flex: 1;
  padding: 15px;
}
.card-content h4 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #222;
}

.card-content p {
  font-size: 14px;
  color: #555;
}

/* Footer kartu */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  /* background-color: #d1d1d1; */
}

.points {
  background-color: #3366CCFF;
  color: #ffffffff;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 13px;
    font-family: Montserrat, sans-serif;
}

.card-footer button {
    font-family: Montserrat, sans-serif;
  background-color: #3366CCFF;
  color: #ffffffff;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}
.card_description {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img {
  width: 100%;
  height: 100%;
  /* border-radius: 6px; */
}
#spn_point {
  color: #ffffffff;
  background-color: #3366cc;
  border-radius: 15px;
  position: absolute;
  bottom: 170px;
  left: 290px;
}