@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 700px){
    body{
        font-size: 100%;
    }
    nav{
        display: flex;
    }
}
.stepup{
    width: 100%;
    min-height: 100vh;
    background-image: url("walking.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;

}
nav{
    padding : 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.logo{
    width : 200px;
    padding-left: 20px;
    margin-left: 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}
.login-btn{
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}
.btn{
    display: inline-block;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-color: #3366ccff;
    border-radius: 30px;
    border-top-right-radius: 0px;
    margin-right: 15px;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    margin-left: 5%;
    max-width: 600px;
}
.content h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #ffffff;
}
.content p{
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    padding : 25px 0px 25px;
    margin: 10px 0px 30px;
    color: #ffffff;
    animation-delay: 0.5s;
}
.content .btn{
    padding : 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.footer-content{
    padding : 5px 10px;
}
.list{
    padding: 10px;
}
.list a{
    text-decoration: none;
}
.list li{
    list-style: none;
}