@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: #fff;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
}

.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  display: flex;
  align-items: center;
}

.logo_icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #ccc;
}

.logo {
  color: #3366cc;
}

.container_nav_logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
}

.sidebar ul li a:hover {
  background-color: #eee;
}

.container_icon_sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout {
  color: red;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.container_logout {
  display: flex;
  flex-direction: row;
  color: red;
  align-items: center;
}

.right_area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar input {
  padding: 6px 10px;
  border: none;
}

.nav_search {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  border: 1px solid #dee1e6ff;
  padding-left: 10px;
  border-radius: 6px;
}

.nav_search i {
  font-weight: 600;
}

.nav_image_profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #3366cc;
}

.main {
  flex: 1;
  background-color: #FAFAFBFF;
  padding: 30px 40px;
  overflow-y: auto;
}
.footer {
  text-align: center;
  background-color: #ffffffff;
  padding: 15px;
  border-top: 1px solid #DEE1E6FF;
}

.footer .links span {
  margin: 0 10px;
  color: #555;
}
.button_help {
  font-family: Montserrat, sans-serif;
  width: 218px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffffff;
  background: #3366ccff;
  opacity: 1;
  border: none;
  border-radius: 6px;
}

.icon {
  width: 15px;
  height: 15px;
}
