@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.container {
  display: flex;
  min-height: 100vh;
}
.feauture {
  max-width: 220px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#weekly {
  padding: 7px 12px;
  background-color: #3366CCFF;
  color: #FFFFFFFF;
  border: 1px solid #DEE1E6FF;
  border-radius: 6px;
}

.button_filter {
  padding: 7px 12px;
  background-color: #FFFFFFFF;
  color: rgb(0, 0, 0);
  border: 1px solid #DEE1E6FF;
  border-radius: 6px;
}

.container_table {
  margin-top: 20px;
}
.container_table table {
  width: 100%;
  border-collapse: collapse;
  font-family: serif;
}

.container_table thead {
  background-color: #ffffff;
  height: 50px;
  border: 1px solid rgb(214, 209, 209);
  font-weight: 600;
  color: #565D6DFF;
}
tr, td {
  padding: 15px;
}
tbody {
  background-color: #FAFAFBFF;
}
.number {
  font-weight: 700;
  color: #171A1FFF;
}

.number_for_top_three {
  color: #3366cc;
  font-weight: 700;
}

.data_users {
  color: #3366CCFF;
  font-weight: 700;
}
.user_name {
  color: #171A1FFF;
  line-height: 24px;
}
.container_rank_user {
  background-color: #F3F6FCFF;
  width: 100%;
  height: 170px;
  margin-top: 20px;
  border-radius: 6px;
}

.container_avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  background-color: #3366cc;
  border-radius: 50%;
  margin-right: 7px;
  /* overflow: hidden; */
  object-fit: cover;
}

.container_rank_user h2 {
  padding: 20px;
}
.background_rank_user {
  padding: 5px;
  background-color: #FAFAFBFF;
  margin-left: 20px;
  margin-right: 20px;
}
.container_rank_user table {
  width: 100%;
}